{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": "last 2 versions",
      },
      "loose": true,
      "modules": false
    }]
  ],
  "plugins": [
    "babel-plugin-transform-class-properties"
  ]
}

/*modules false wants webpack to use modules, otherwise itll be packged in a way where uglify cant strip out code   loose ships plugins that adhere to JS exclusively, leaves out edge cases and includes small polyfills  */
